/*trabajar con estilos es muy iteractivo, es trabajar con arte*/

body{
  margin: 0px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.logo{
  height: 70px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(233, 228, 228);
  border-bottom: 1px solid grey;
  box-shadow: 1px 1px grey;

}
.navbar > li{
display: flex;
align-items: center;
}

.Button{
  border: 0px;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bolder;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.Button:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.mainButton{
  background-color: #1bb76e;
  color: white;
}

/*para las clases existen unos modificadores, estos se agregan en las clases al colocarle ":"*/

.ButtonSecundary{
  background-color: #563caa;
  color: white;
}

/*para las clases existen unos modificadores, estos se agregan en las clases al colocarle ":"*/

.ButtonSecundary:hover{
  box-shadow: 1px 1px rgb(123, 123, 236);
}
  .buscar{
  background-color: white;
  border: 1px solid grey;
  padding: 4px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;

}
.buscar:focus-within{
  border: 1px solid blue;
}
.buscar > input{
  outline: none;
  border: 0px;
}

.iconobusqueda:hover {
  color: blue;
}

.contenedorimage{
  width: 240px;
  height: 350px;
  display: flex;
  margin: 10px;
}

.contenedorimage:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.breedCardContainer{
display: flex;   

}

.breedcard{
  margin: 10px;
  background-color: rgb(123, 123, 236);
  box-shadow: 5px 10px 5px ;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
}

.contenedorimage> img{
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;    
}

.breedtitle{
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
}